<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Brain Tumor Predict</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="../static/css/style.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light sticky-top shadow-sm bg-body">
      <div class="container">
        <a class="navbar-brand" href="/">
          <h4>BrainTumor-CNN</h4>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link active pe-none" aria-current="page">Home</a>
            </li>
            <li class="nav-item">
              <a type="button" class="nav-link getstarted" href="/predict">Get Started</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section id="section" class="d-flex align-items-center mt-5">
      <div class="container position-relative">
        <div class="row">
          <div class="col-md-7 ps-5 pt-5">
            <h2>Brain Tumor Image Classification </h2>
            <a type="button" class="mt-4 get-started" href="/predict">Get Started</a>
          </div>
          <div class="col-md-5 ps-4 text-center ">
            <img src="{{ url_for('static', filename='img/logo.jpg') }}" alt="error" />
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
<!-- 01141A -->